/* styles.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #17599b;
  margin: 0;
  padding: 0;
  background-color:hsl(0, 100%, 17%);
}

header {
  background-color: hsl(0, 100%, 17%);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color:lightpink;
}

main {
  padding: 20px;
}

#parts {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.part {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#total {
  margin-top: 30px;
  text-align: center;
  color: lightpink;
}

#total h2 {
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 700;
  color: lightpink;
}

#totalCost {
  font-size: 2.5em;
  font-weight: 700;
  color: lightpink;
}
